.button {
  font:
    20px/24px Roboto,
    Arial,
    sans-serif;
  padding: 6px;
  border-radius: 12px;
  display: flex;
  gap: 8px;
  min-width: 40px;
  min-height: 40px;
  user-select: none;
  border: 2px solid transparent;
}

.text {
  padding: 6px 18px;
}

.primary {
  color: #ffffff;
  background-color: #4caf50;
}

.secondary {
  color: #4caf50;
  background-color: transparent;
}

.secondary:hover {
  border: 2px solid #4caf50;
}
