.button {
  padding: 5px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: #388087;
  color: #f6f6f2;
  display: flex;
  align-items: center;
  gap: 8px;
  font:
    14px/20px Roboto,
    Arial,
    sans-serif;
}