.slide-preview {
  background-color: white;
  width: 256px;
  height: 192px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  outline: 1px solid #b352ff;
}

.active {
  outline: 4px solid #b352ff;
  z-index: 2;
}

.slide {
  position: relative;
}
