.text {
  position: absolute;
  overflow: hidden;
  user-select: none;
  z-index: 1;
  border: 2px solid transparent;
}

.input {
  overflow: hidden;
  resize: none;
	display: block;
  background: transparent;
  border: none;
}

.input:focus {
  outline: none;
}