.text {
  position: absolute;
  overflow: hidden;
  user-select: none;
}

.input {
  overflow: hidden;
  resize: none;
	display: block;
  background: transparent;
  border: none;
}

.input:focus {
  outline: none;
}