.app {
  grid-template: 
            "top-panel top-panel top-panel" 40px
            "slides-panel slide slide" 40px
            "slides-panel slide slide" 40px / 1fr 1fr 1fr;
}

.top-panel {
  grid-area: top-panel;
}

.slides-panel {
  grid-area: slides-panel;
}

.slide {
  grid-area: slide;
}