.input {
  font:
    20px/24px Roboto,
    Arial,
    sans-serif;
  background-color: transparent;
  border-radius: 8px;
  padding: 6px 12px;
  border: 1px solid transparent;
  color: #2d2d2d;
}

.input:hover {
  border: 1px solid #388087;
}

.input:focus {
  border: 1px solid #388087;
  background-color: #f6f6f2;
  outline: none;
}
