.preview {
  padding: 20px;
  max-height: 720px;
  overflow-y: scroll;
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: #ffffff;
}

.button-container {
  display: flex;
  justify-content: end;
  padding: 20px;
  width: 100%;
  background-color: #ffffff;
}

.button {
  padding: 8px 20px;
  border-radius: 4px;
  border: 0;
  outline: 0;
  background: #A352FF;
  color: #FFFFFF;
  cursor: pointer;
  font: 20px Roboto;
}