.slide {
  width: 800px;
  height: 600px;
  position: relative;
}

.slide-container {
  grid-area: slide;
  background-color: #fab1a0;
  display: flex;
  align-items: center;
  justify-content: center;
}

