.change-background {
    width: 445px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs {
    width: 100%;
    margin: 2x 2px 0;
}

.tab {
    width: 33%;
    padding: 8px 0;
    font: 20px Roboto;
    color: #212121;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 4px 4px 0 0;
    border-top: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
    border-left: 1px solid #D4D4D4;
    background: #E4E4E4;
}

.tab-active {
    background: #FFFFFF;
    cursor: default;
}

.form {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.input {
    min-width: 400px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #D4D4D4;
    padding: 8px 11px;
    overflow: hidden;
    color: #212121;
    text-overflow: ellipsis;
    font: 20px Roboto;
}

.file {
    margin-bottom: 20px;
    padding: 8px 11px;
    color: #212121;
    font: 20px Roboto;
}

.color {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
    font: 20px Roboto;
}

.submit {
    padding: 8px 11px;
    border-radius: 4px;
    border: 0;
    outline: 0;
    background: #A352FF;
    color: #FFFFFF;
    cursor: pointer;
    font: 14px Roboto;
}

.buttons-block {
    display: flex;
    gap: 20px;
}